<main class="container {{pageMainClass}}" id="{{pageMainClass}}">
  <section class="row">
    <div class="col-12 cartHeader">
      <h1 class="text-center">Your Cart</h1>
    </div>
    <div class="col-12 cartMiddle1">
      <section class="row">
        <div class="col-12 col-sm-6 text-center padB10">
          <label>Quantity</label><br>
          <span>{{qty}}</span>
        </div>
        <div class="col-12 col-sm-6 text-center">
          <label>Subtotal</label><br>
          <span>{{total}}</span>
        </div>
      </section>
    </div>
  </section>
  <!--Cart main list area-->
  <section class="row cartMiddle2">
    {{#each items}}
      <figure class="col-sm-12 col-md-6 cartItem">
        <img class="defaultImg" src="{{img}}" />
        <div class="cartItemInfo row">
          <article class="col-12">
            <span class="">
              {{name}}
            </span>
            <span class="">|</span>
            <span class="">
              {{price}}
            </span>
          </article>
        </div>
        <div class="text-center my-auto">
          <button class="btn btn-danger remBtn">Remove</button>
        </div>
      </figure>
    {{/each}}
  </section>
  <!--Order Summary Section-->
  <form action="/thanks" method="POST" class="row text-center rowTB10">
    <input type="text" name="total" value="{{total}}" class="d-none">
    <input type="text" name="qty" value="{{qty}}" class="d-none">
    <input type="text" name="items" value="{{itemsData}}" class="d-none">
    <div class="col-12">
      <label>Order Summary</label>
    </div>
    <div class="col-12 col-md-9 orderSummaryLabels">
      <div class="row">
        <span class="col-md-4"># of Items: {{qty}}</span>
        <span class="col-md-4">Discounts: $0</span>
        <span class="col-md-4">Total: {{total}}</span>
      </div>
    </div>
    <div class="col-12 col-md-3 checkoutButton">
      <button type="submit" class="btn btn-success" {{disabled}}>Checkout</button>
    </div>
  </form>
</main>
