<main class="container {{pageMainClass}}" id="{{pageMainClass}}">
	<section class="row heroPanel">
		<div class="col-12 w-100 col-lg-10 hero">
			<div id="carouselExampleCaptions" class="carousel slide w-100" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="https://scfinalwinter2023.s3.amazonaws.com/item_img/cartGroc.png" class="d-block w-100 h-auto" alt="...">
						<div class="carousel-caption d-none d-md-block cta">
							<article class="ctaText">
								<span class="ctaTitle">Call To Action!</span>
								<p>CTA text down here, like: 70% off Cheese! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
								<a href="/catalogue"><button type="button" class="btn btn-primary">Shop Now</button></a>
							</article>
						</div>
					</div>
					<div class="carousel-item">
						<img src="https://scfinalwinter2023.s3.amazonaws.com/item_img/pcShop.png" class="d-block w-100 h-auto" alt="...">
						<div class="carousel-caption d-none d-md-block cta">
							<article class="ctaText">
								<span class="ctaTitle">Call To Action!</span>
								<p>CTA text down here, like: 70% off Cheese! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
								<a href="/catalogue"><button type="button" class="btn btn-primary">Shop Now</button></a>
							</article>
						</div>
					</div>
					<div class="carousel-item">
						<img src="https://scfinalwinter2023.s3.amazonaws.com/item_img/ladyShop.png" class="d-block w-100 h-auto" alt="...">
						<div class="carousel-caption d-none d-md-block cta">
							<article class="ctaText">
								<span class="ctaTitle">Call To Action!</span>
								<p>CTA text down here, like: 70% off Cheese! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
								<a href="/catalogue"><button type="button" class="btn btn-primary">Shop Now</button></a>
							</article>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</section>
	<section class="dealsListClass text-center row">
		<div class="col-12 mb-5">
			<h2>Today's Deals</h2>
		</div>
		<div class="col-12">
			<div class="row">
			{{#each itemsList}}
				<div class="col-12 col-sm-6 col-lg-4 col-xl-3 dealItem" id="{{id}}" data-iteminfo='{
					"id": {{id}}, 
					"sku": {{sku}},
					"item_name": "{{item_name}}", 
					"description": "{{description}}",
					"item_category": "{{item_category}}",
					"price": {{price}},
					"discount": {{discount}},
					"img": "{{image}}"
				}'>
					<img src="{{image}}" class="img-fluid homeGroceryImg" data-bs-toggle="modal" data-bs-target="#catalogueItemModal">
					<figcaption class="row">
						<div class="col-12">
							<span class="itemNameIndexPage">{{item_name}}</span>
						</div>
						<div class="col-12">
							<del>${{price}}</del>
							<span>${{discount}}</span>
						</div>
						<select placerholer="Quantity" class="col-12 form-select selectCenter">
							{{#each ../dropdownOne}}
								<option value="{{val}}">{{val}}</option>
							{{/each}}
						</select>
						<div class="col-12 dealBtn">
							<button type="button" class="btn btn-primary addCartButtonStyle" onClick="{alert('Added item to cart!')}">Add to Cart</button>
						</div>
					</figcaption>
				</div>
			{{/each}}
			</div>
		</div>
	</section>
	<div class="modal" id="homeItemModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form>
					<div class="modal-body row">
						<img src="/img/1to1ratio.png" id="homemodalImg" class="col-12">
						<span class="col-12 text-center" id="homemodalName">Name</span>
						<section class="d-flex justify-content-between">
							<span class="col-6" id="homemodalSku">#Sku</span>
							<span class="col-6" id="homemodalPrice">$Price</span>
						</section>
						<section class="d-flex justify-content-between modalDescription">
							<span class="col-6" id="homemodalDesc">Description</span>
							<div class="col-6">
								<input type="number" id="homemodalQty" placeholder="Quantity">
								<button type="button" class="btn btn-primary" id="homemodalSubmit">Add to Cart</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</section>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
<!--
<ul>
<li><img class="myImg" src="images/Husmand.jpg" alt="Husmand, 1900" style="width:100%;max-width:300px"> </li>
<li> <img class="myImg" src="images/Black Death, 1900.jpg" alt="Black Death, 1900" style="width:100%;max-width:300px"> </li>
</ul>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
-->